body{
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-style:oblique;

}
button{
    padding: 3%;
    padding: 100px 100px 100px 100px;
    font-size: 30px;
    font-style:inherit;

}